---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const students = await getCollection('students');
console.log(students);

---

<Layout>
	<h1>Students</h1>
	{
		students.map((student) => 
		
		<div style = "display:flex; gap:1em;">

			<p>NAME: {student.data.name.toUpperCase()}</p> 
			<p>GRADE: {student.data.grade} </p>
			<p>ALLERGIES: {student.data.allergies} </p>

			
		</div>
	)	
	}
</Layout>
